.portfolio-detail {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    z-index: 3;
    position: relative;

    .detail-menu-inner {
        margin-bottom: 1rem;
    }

    .detail-header {
        width: 100%;
        height: 2rem;
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: #fff;

        .pdBack {
            display: flex;
            align-items: center;

            svg {
                cursor: url(../../assets/icons/cursorFull.svg) 2 2, auto !important;
            }
        }

        button {
            background-color: transparent;

            svg {
                width: 24px;
                height: 24px;
            }
        }
    }

    .detail-title {
        text-align: center;
        margin: 2rem 0;

        h3 {
            font-size: 2rem;
            margin-bottom: 1rem;
            line-height: 1.2;
        }

        span {
            color: #aaa;
        }
    }

    .detail-image {
        margin-top: 1rem;
        transition: 0.3s ease;
        position: relative;
        z-index: 0;

        &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: '로딩중';
            z-index: -1;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    .detail-introduce {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        gap: 2rem;
        position: sticky;

        * {
            font-family: "Pretendard Variable", 'Pretendard';
            color: #555;
            line-height: 1.8;
        }


        div {
            margin-bottom: 2rem;
        }

        .title {
            margin-bottom: 0.5rem;
            color: #000;
        }

        ul {
            li {
                list-style: inside;
                list-style-type: "- ";
            }
        }

        .detail-left {
            width: 30%;
            height: 100%;
            overflow: auto;
            position: -webkit-sticky;
            position: sticky;
            top: 0;

            border-right: 1px solid #ddd;

            .develop-link {
                a {
                    display: block;
                }

                a:hover {
                    font-weight: 700;
                }
            }

            .pdIndex {
                display: flex;
                align-items: center;
                gap: 1rem;
                background-color: transparent;

                button {
                    width: 1.3rem;
                    height: 1.5rem;
                    background-color: #eee;
                }
            }
        }

        .detail-right {
            width: 70%;

            .detail-right-header {
                h3 {
                    font-size: 2.5rem;
                }
            }

            .develop-skill {
                span {
                    font-weight: 700;
                }
            }

            .develop-trouble {
                li {
                    margin-bottom: 1rem;
                    list-style: none;

                    span {
                        padding: 0.2rem 0.5rem;
                        background-color: #ddd;
                        color: #000;
                        font-size: 0.7rem;
                    }
                }

                .troubleAccordion {
                    border-bottom: 1px solid #aaa;
                    transition: 0.3s;

                    .title {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        h4 {
                            cursor: url(../../assets/icons/cursorFull.svg) 2 2, auto !important;
                            padding: 1rem 0;
                        }

                        p {
                            font-size: 2rem;
                            color: #aaa;
                        }
                    }

                    .troubleText {
                        overflow: hidden;
                        max-height: 0;
                        transition: 0.3s ease;
                    }

                    .active {
                        max-height: 9999px;
                    }
                }
            }
        }
    }

    &.down880 {
        width: calc(100% - 4rem) !important;
    }

    &.down600 {
        width: calc(100% - 4rem) !important;

        .detail-introduce {
            position: static;
            flex-direction: column;
            gap: 0;

            .detail-left {
                position: static;
                width: 100%;
                margin: 0;
                border-right: 0;

                .detail-menu-inner {
                    display: none;
                }

                .detail-title {
                    h3 {
                        margin: 0;
                    }
                }
            }

            .detail-right {
                width: 100%;
            }
        }
    }
}

@media (max-width: 600px) {
    .portfolio-detail .detail-introduce {
        flex-direction: column;
        gap: 0;
        position: static;

        .detail-left {
            position: static;
            width: 100%;
        }

        .detail-right {
            width: 100%;
        }
    }
}