.portfolio-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    .detail-header {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .pdBack {
            svg {
                cursor: url(../../assets/icons/cursorFull.svg) 2 2, auto !important;
            }
        }

        button {
            background-color: transparent;

            svg {
                width: 24px;
                height: 24px;
            }

            ;
        }

        .pdIndex {
            display: flex;
            justify-content: center;
            gap: 1rem;
            background-color: transparent;
        }
    }


    .detail-title {
        text-align: center;
        margin: 2rem 0;

        h3 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        span {
            color: #aaa;
        }
    }

    .detail-image {
        transition: 0.3s ease;
        position: relative;
        z-index: 0;
        cursor: url(../../assets/icons/cursorFull.svg) 2 2, auto !important;

        * {
            cursor: url(../../assets/icons/cursorFull.svg) 2 2, auto !important;
        }

        img {
            width: 100%;
        }

        &::after {
            display: flex;
            justify-content: center;
            align-items: center;
            content: '';
            color: #fff;
            width: 0;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            top: 0;
            left: 0;
            position: absolute;
            z-index: 10;
            transition: 0.3s ease;
        }

        &:hover {
            &::after {
                display: flex;
                justify-content: center;
                align-items: center;
                content: '바로가기';
                color: #fff;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                top: 0;
                left: 0;
                position: absolute;
                z-index: 10;
                transition: 0.3s ease;
            }
        }
    }


    .detail-introduce {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        gap: 2rem;
        position: sticky;

        * {
            font-family: 'pretendard';
            color: #555;
            line-height: 1.8;
        }


        div {
            margin-bottom: 2rem;
        }

        .title {
            margin-bottom: 0.5rem;
            color: #000;
        }

        ul {
            li {
                list-style: inside;
                list-style-type: "- ";
            }
        }

        .detail-left {
            width: 30%;
            height: 100%;
            overflow: auto;
            position: -webkit-sticky;
            position: sticky;
            top: 0;

            .develop-goal {}

            .develop-link {
                a {
                    display: block;
                }

                a:hover {
                    font-weight: 700;
                }
            }
        }

        .detail-right {
            width: 70%;

            .develop-skill {
                span {
                    font-weight: 700;
                }
            }

            .develop-trouble {
                li {
                    margin-bottom: 1rem;
                    list-style: none;

                    span {
                        padding: 0.2rem 0.5rem;
                        background-color: #ddd;
                        color: #000;
                        font-size: 0.7rem;
                    }
                }

                .troubleAccordion {
                    border-bottom: 1px solid #aaa;
                    transition: 0.3s;

                    .title {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        h4 {
                            cursor: url(../../assets/icons/cursorFull.svg) 2 2, auto !important;
                            padding: 1rem 0;
                        }

                        p {
                            font-size: 2rem;
                            color: #aaa;
                        }
                    }

                    .troubleText {
                        overflow: hidden;
                        max-height: 0;
                        transition: 0.3s ease;
                    }

                    .active {
                        max-height: 9999px;
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .portfolio-detail .detail-introduce {
        flex-direction: column;
        gap: 0;
        position: static;

        .detail-left {
            position: static;
            width: 100%;
        }

        .detail-right {
            width: 100%;
        }
    }
}