@import '../main.scss';
@import './menu.scss';
@import './header.scss';

@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

#main-section {
    height: 80svh;
    @include flexbox(sb);
    padding: 2rem;

    #main-left-cont {
        width: 90%;
        display: grid;
        place-items: center;

        .text {
            margin: 0 6rem;
            text-align: center;
            font-size: 4rem;
            color: #fff;
        }

        .blink {
            animation: blink 0.5s infinite;
            font-size: 2.5rem;
            color: #fff;
        }

        @keyframes blink {
            to {
                opacity: 0;
            }
        }
    }

    #main-right-cont {

        ul {
            display: flex;
            gap: 3rem;
            flex-direction: column;
            cursor: url(../../assets/icons/cursorFull.svg), auto !important;

            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.5rem;



                #MeIcon,
                #PfIcon,
                #CtIcon {
                    width: 5rem;

                    * {
                        cursor: url(../../assets/icons/cursorFull.svg), auto !important;
                    }
                }

                p {
                    color: #fff;
                    text-align: center;
                }
            }
        }
    }
}

aside {
    width: 100%;
    height: 5rem;
    padding: 0 1rem;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    background-image: url(../../assets/icons/icon-box.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-origin: content-box;

    .main-side-icons {
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-1.5rem);
        max-width: 340px;
        gap: 1rem;

        a {
            cursor: url(../../assets/icons/cursorFull.svg), auto !important;
        }

        svg {
            height: 55px;
        }

        .trash {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;

            img {
                cursor: url(../../assets/icons/cursorFull.svg), auto !important;
            }
        }
    }

    .active {
        transform: translateY(-3.8rem);
    }

    .ballon {
        position: relative;
        z-index: 0;
    }

    .ballon:hover::after {
        font-size: 0.8rem;
        text-align: center;
        background: url('../../assets/icons/ballon.svg');
        background-repeat: no-repeat;
        position: absolute;
        padding: 1rem;
        width: 150px;
        height: 30px;
        bottom: 4rem;
        left: -50%;
        z-index: 1;

        animation-duration: 100s;
        animation-name: ballonOpacity;
        animation-direction: alternate;

        @keyframes ballonOpacity {
            0% {
                opacity: 1;
            }

            0.5% {
                opacity: 1;
            }

            1% {
                opacity: 0;
            }

            100% {
                opacity: 0;
            }
        }
    }

    .GitIcon:hover::after {
        content: '깃허브로 이동합니다';
        transform: translate(-2rem);
    }

    .VelogIcon:hover::after {
        content: '벨로그로 이동합니다';
        transform: translateX(-2rem);
    }

    .Resume:hover::after {
        content: '이력서를 다운받습니다';
        transform: translateX(-2.8rem);
    }

    .trash:hover::after {
        content: '누르면 어떤 일이...?';
        transform: translateX(0.5rem);
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 10px;
    background-color: #555;

    p {
        text-align: center;
        color: #fff;
    }
}

// 모바일
@media (max-width: 555px) {
    header {
        nav {
            ul {
                display: none;
            }
        }
    }

    #main-section {
        flex-direction: column-reverse;
        justify-content: flex-end;
        gap: 10svh;

        #main-left-cont {
            .text {
                font-size: 2rem;
                margin: 0 2rem;
                text-align: center;
            }
        }

        #main-right-cont {
            @include flexbox(e);

            ul {
                width: 80px;
            }
        }
    }
}

@media (min-width: 100px) and (max-width: 1023px) {
    /* 브라우저 사이즈 768px이상, 1023px이하 일때,*/
}

@media screen and (max-height: 780px) {
    #main-left-cont {
        display: none !important;
    }
}