@import '../main.scss';

.stickerMemo {
    transition: 0.2s ease;
    width: 280px;
    height: 280px;
    padding: 2rem;
    padding-top: 5.5rem;
    box-sizing: border-box;
    background: url('../../assets/images/stickerMemo.png');
    background-size: cover;
    color: $grayDark;

    @include column-flexbox(sb, s);
    display: flex !important;

    * {
        font-family: "Pretendard Variable", 'Pretendard';
        line-height: 1.4;
        color: $grayDark;
    }

    h3 {
        font-size: 1rem;
        font-family: 'Galmuri9';
    }

    .contents {
        @include column-flexbox;
        gap: 0.5rem;

        span {
            font-size: 0.8rem;
            color: $gray;
        }
    }
}

// ------------------- 반응형 (768px)
@include responsive(768px) {
    .stickerMemo {
        width: 240px !important;
        height: 240px !important;
        left: -300px !important;
        top: 260px !important;
        padding-top: 4.5rem;

        h3 {
            font-size: 0.9rem;
        }

        .contents {
            p {
                font-size: 0.9rem;
            }
        }
    }
}


// ------------------- 반응형 (430px)
@include responsive(s) {
    .stickerMemo {
        padding: 1.5rem;
        padding-top: 4rem;
        width: 200px !important;
        height: 200px !important;
        left: -320px !important;
        top: 220px !important;

        h3 {
            font-size: 0.8rem;
        }

        .contents {
            * {
                font-size: 0.9rem;
            }

            .responsiveNone {
                display: none;
            }

            span {
                font-size: 0.8rem;
            }
        }
    }
}