@import '../main.scss';

#mainWiget {
    position: absolute;
    top: 5rem;
    left: 3rem;

    @include flexbox;
    gap: 20px;

    .stickerMemo {
        width: 280px;
        height: 280px;
        padding: 2rem;
        padding-top: 5.5rem;
        box-sizing: border-box;
        background: url('../../assets/images/stickerMemo.png');
        background-size: cover;

        @include column-flexbox(sb, s);

        h3 {
            font-size: 1rem;
        }

        h3,
        p {
            display: inline-block;
            margin-bottom: 0.5rem;
        }

        p,
        b {
            font-family: 'Noto sans kr';
            line-height: 1.4;
        }

        span {
            font-size: 0.8rem;
        }
    }

    .wigetLeftCont {
        @include column-flexbox(sb, c);
        gap: 20px;
        width: 280px;
        height: 280px;

        div {
            width: 260px;
            height: 130px;
        }

        .picture {
            background: url('../../assets/images/stickerImage2.png');
            background-size: cover;
        }

        .notice {
            background: url('../../assets/images/stickerBG.png');
            background-size: cover;
        }
    }
}