@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

* {
    font-family: "Galmuri9", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: #000;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #333;
}

header {
    width: 100svw;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ddd;
    font-size: 0.8rem;
    box-shadow: 0 0 10px 0 #000;

    nav {
        display: flex;
        align-items: center;
        gap: 1rem;

        h1 {}

        ul {
            display: flex;
            gap: 1rem;

            li {}
        }
    }

    .side {
        display: flex;
        align-items: center;
        gap: 1rem;

        .bettery {
            display: flex;
            align-items: center;
            gap: 0.3rem;
        }
    }
}