* {
    font-family: "Galmuri9", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: #000;
    list-style: none;
    box-sizing: border-box;
    text-decoration-line: none;
    cursor: url(../../assets/icons/cursor.svg) 2 2, auto;
}

body,
html,
#root,
.App {
    width: 100svw;
    height: 100svh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

body {
    background: url(../../assets/images/bg.png)
}

.nowLoading,
.nowError {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

a,
button {
    cursor: url(../../assets/icons/cursorFull.svg) 2 2, auto !important;
}